<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.device.limaiyun.thingsboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:roundIcon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.device.limaiyun.thingsboard.ui.activity.login.view.LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.home.view.HomeActivity" />
        <activity
            android:name=".ui.activity.childactivity.equipment.view.EquipmentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".ui.activity.childactivity.data.view.DataActivity" />
        <activity
            android:name=".ui.activity.childactivity.newmessage.view.NewMessageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".ui.activity.childactivity.equipment.child.view.EquipmentDetilActivity" />

        <activity android:name=".ui.activity.childactivity.ThirdActivity.linechart.view.LineChartActivity"/>

        <activity android:name=".ui.activity.childactivity.ThirdActivity.set.view.SettingActivity"/>

        <activity android:name=".ui.activity.childactivity.alarm.view.AlarmActivity"/>

        <activity android:name=".ui.activity.wanted.view.WantedWebViewActivity"/>

        <activity android:name=".ui.activity.childactivity.Supervision.view.SupervisionActivity"/>

        <activity android:name=".ui.activity.childactivity.Supervision.child.view.SupervisionTaskDivisionActivity"/>

        <activity android:name=".ui.activity.childactivity.Supervision.child.child.view.SupervisionDetilsActivity"/>

        <activity android:name=".ui.activity.childactivity.Supervision.addSupervisionChild.view.AddSupervisionActivity"/>
        //bugly activity
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        //bugly update SDK 适配 Android N
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>